<div id="container" >
    <div class="header">
        <div class="logo">
          <%# <img src="/assets/renraku-logo-sample.png" alt="トップ画面" class="logo__img"> %>
          <span class="logo__world">Renraku!</span>
        </div>
      <div class="login">
        <div class="nav__btn">
          <%= link_to 'ゲストログイン', top_guest_sign_in_path, method: :post %>
        </div>
        <% if user_signed_in? %>
        <div class="nav__btn">
          こんにちは、
        <%= link_to current_user.name + "さん", "#", class: "subtitle" %>
        </div>
        <div class="nav__btn">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "subtitle" %>
        </div>
        <% else %>
        <div class="nav__btn">
        <%= link_to '新規会員登録', new_user_registration_path, class: "subtitle" %>
        </div>
        <div class="nav__btn">
        <%= link_to 'ログイン', new_user_session_path, class: "subtitle" %>
        </div>
        <% end %>
      </div>
    </div>
    
  <div class="hamburger-menu">
    <input type="checkbox" id="menu-btn-check">
    <label for="menu-btn-check" class="menu-btn"><span></span></label>
    <div class="menu-content">
      <ul>
          <li>
              <a href="#">メニューリンク1</a>
          </li>
          <li>
              <a href="#">メニューリンク2</a>
          </li>
          <li>
              <a href="#">メニューリンク3</a>
          </li>
      </ul>
    </div>
  </div>
  <section>
      <div class="inquiry">
          <p>お問い合わせはこちら➡️</p>
          <div class="btn">お問い合わせフォームへ</div>
      </div>
  </section>
  <div id="home" class="big-bg">
      <div class="home-content wrapper">
          <div class="home-set">
              <div class="page-title">
                  <h2>毎日の連絡をもっと簡単に</h2>
                  <p>スマホで手軽に連絡しよう!</p>
              </div>
              <div class="inquiry__nav">
                  <p>お問い合わせはこちら➡️</p>
                  <div class="btn">お問い合わせフォームへ</div>
              </div>
              <div class="app__nav">
                  <p>アプリダウンロード➡️</p>
                  <div class="app-img">
                  <img src="/assets/app-img1.png" class="app__img">
                  <img src="/assets/app-img2.png" class="app__img">
                  </div>
              </div>

              <div class="home-btn">
                  <p>会員登録はこちら</p>
                  <div class="nav__btn">
                    <%= link_to '新規会員登録', new_user_registration_path, class: "subtitle" %>
                  </div>
                  <div class="nav__btn">
                    <%= link_to 'ログイン', new_user_session_path, class: "subtitle" %>
                  </div>
                  <div class="nav__btn">
                    <%= link_to 'ゲストログイン', top_guest_sign_in_path, method: :post %>
                  </div>
              </div>
          </div>    
      </div>
  </div>
  <section class="howto">
      <div class="howto__content">
        <div class="howto__title">
        <h3><span>ご利用方法</span>
        </h3>
        </div>
        <div class="howto__body">
          <div class="howto__img">
          <img src="/assets/middle-image.jpg" alt="ミドル画面" >
          </div>
          <div class="howto__text">
              <p>
                  まずは「レンラク！」アプリに新規登録下さい。登録後
                  は、ログインしていただければ、連絡帳機能を使用する
                  ことができます。
                  連絡帳フォームを送信すれば先生がすぐ確認できます。
                  朝の忙しい時間をゆっくり過ごす助けになるアプリケーションです。
              </p>
          </div>
        </div>
      </div>
  </section>
  <section class="service">
      <div class="service__content">
        <div class="service__title">
        <h3><span>レンラク！のサービス紹介</span>
        </h3>
        </div>
        <div class="service__icons">
            <div class="icon-set">
                <div class="service__icon">
                <img src="/assets/service-icon1.png" alt="連絡帳アイコン">
                </div>
                <div class="icon-name">
                <p>連絡帳機能</p>
                </div>
            </div>
            <div class="icon-set">
                <div class="service__icon">
                <img src="/assets/service-icon2.png" alt="出欠アイコン">
                </div>
                <div class="icon-name">
                <p>出欠管理</p>
                </div>
            </div>
            <div class="icon-set">
                <div class="service__icon">
                <img src="/assets/service-icon3.png" alt="お知らせアイコン">
                </div>
                <div class="icon-name">
                <p>お知らせ配信</p>
                </div>
            </div>
            <div class="icon-set">
                <div class="service__icon">
                <img src="/assets/service-icon4.png" alt="メッセージアイコン">
                </div>
                <div class="icon-name">
                <p>個別メッセージ</p>
                </div>
            </div>
            <div class="icon-set">
                <div class="service__icon">
                <img src="/assets/service-icon5.png" alt="写真アイコン">
                </div>
                <div class="icon-name">
                <p>写真投稿機能</p>
                </div>
            </div>
        </div>
        <div class="service__text">
            <p>
              出欠確認はフォームで簡単入力して、ボタン一つで送信完了となります。お知らせは一斉配信ができて保護者の方はスマホでいつでも確認することができます。
            </p>
        </div>
      </div>
  </section>
  <div class="container">
    <h4>保護者の方はこちら</h4>
      <div class="d-flex justify-content-center">
        <div class="nav__btn">     
          <div class="card" style="width: 18rem;">
          <img src="http://3.bp.blogspot.com/-AC5vmYBscMw/UZRWELc3AzI/AAAAAAAASuk/MNSaQk3flwQ/s180-c/hanami_usagi.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">お知らせを見る</h5>
                <p class="card-text"></p>
                <a href="../prints", class="btn btn-primary">お知らせ一覧へ</a>
            </div>
          </div>
        </div>
        <div class="nav__btn">
          <div class="card" style="width: 18rem;">
          <img src="http://2.bp.blogspot.com/-5Fk5W1srxDo/UZRWCaNXFXI/AAAAAAAASuA/c0YSomHMfhQ/s180-c/hanami_inu.png" class="card-img-top" alt="...">
            <div class="card-body">
                <%= link_to "チャットを作成する", rooms_path %>
                <p class="card-text"></p>
                <a href="../rooms", class="btn btn-primary">メッセージルームへ</a>
            </div>
          </div>
        </div>
        <div class="nav__btn">
          <div class="card" style="width: 18rem;">
          <img src="http://2.bp.blogspot.com/-Y_FYUDciASI/UZRWDTu8vgI/AAAAAAAASuQ/aOwVwq-FtBE/s180-c/hanami_neko.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">連絡帳を書く</h5>
              <p class="card-text"></p>
              <a href="../attendances/new", class="btn btn-primary">連絡帳へ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
    <h4>先生はこちら</h4>
      <div class="d-flex justify-content-center">
        <div class="nav__btn">
          <div class="card" style="width: 18rem;">
          <img src="http://4.bp.blogspot.com/-JpovmLbHnKs/UZRWDZmapsI/AAAAAAAASuM/-YEd4TDlmX0/s180-c/hanami_kuma.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">お知らせを投稿する</h5>
              <p class="card-text"></p>
              <a href="../prints/new", class="btn btn-primary">お知らせ投稿へ</a>
            </div>
          </div>
        </div>
        <div class="nav__btn">
          <div class="card" style="width: 18rem;">
          <img src="http://4.bp.blogspot.com/-4_mKp1Q71M0/UZRWEUWc4fI/AAAAAAAASuo/9AV4UUQz8l0/s180-c/hanami_zou.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">メッセージを確認する</h5>
              <p class="card-text"></p>
              <a href="../rooms", class="btn btn-primary">メッセージルームへ</a>
            </div>
          </div>
        </div>
        <div class="nav__btn">
          <div class="card" style="width: 18rem;">
          <img src="https://3.bp.blogspot.com/-vhmBkneKWxM/VKTgi71CkvI/AAAAAAAAqUw/-bTdgeat85E/s180-c/pyoko04_sakura.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">出欠一覧を見る</h5>
              <p class="card-text"></p>
              <a href="../attendances", class="btn btn-primary">出欠一覧へ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class ="footer">
  <p>
    Copyright RenrakuApp 2020.
  </p>
</div>

