<div id="container" >
    <div class="header">
        <div class="logo">
          <span class="logo__world">Renraku!</span>
        </div>
      <div class="login">
        <%# <div class="nav__btn"> %>
          <%= link_to 'ゲストログイン', top_guest_sign_in_path, method: :post, class: "nav__btn" %>
        <%# </div> %>
        <% if user_signed_in? %>
        <div class="nav__btn">
          こんにちは、
        <%= link_to current_user.name + "さん", "#", class: "subtitle" %>
        </div>
        <div class="nav__btn">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "subtitle" %>
        </div>
        <% else %>
        <div class="nav__btn">
        <%= link_to '新規会員登録', new_user_registration_path, class: "subtitle" %>
        </div>
        <div class="nav__btn">
        <%= link_to 'ログイン', new_user_session_path, class: "subtitle" %>
        </div>
        <% end %>
      </div>
    </div>
    
  <div class="hamburger-menu">
    <input type="checkbox" id="menu-btn-check">
    <label for="menu-btn-check" class="menu-btn"><span></span></label>
    <div class="menu-content">
      <ul>
          <li>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLSdu_OQl4cJPiemyEF9rMOyl8b5G06Jp02pK0Xc_ISqVa8s1yQ/viewform?usp=sf_link" width="100%" height="1301" frameborder="0" marginheight="0" marginwidth="0">お問い合わせ</a>
          </li>
          <li>
              <a href="../prints">お知らせ一覧へ</a>
          </li>
          <li>
              <a href="../rooms">メッセージルームへ</a>
          </li>
          <li>
              <a href="../attendances/new">連絡帳へ</a>
          </li>
          <li>
              <a href="../prints/new">お知らせ投稿へ</a>
          </li>
          <li>
              <a href="../attendances">出欠一覧へ</a>
          </li>
      </ul>
    </div>
  </div>
  <section>
      <div class="inquiry">
          <p>お問い合わせはこちら➡️</p>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdu_OQl4cJPiemyEF9rMOyl8b5G06Jp02pK0Xc_ISqVa8s1yQ/viewform?usp=sf_link" width="100%" height="1301" frameborder="0" marginheight="0" marginwidth="0" class="btn">お問い合わせフォームへ
          </a>
      </div>
  </section>
  <div id="home">
    <div class="big-bg">
        <%= image_tag "main-bg.jpeg" %>
    </div>
      <div class="home-set">
              <div class="page-title">
                  <h2>毎日の連絡をもっと簡単に</h2>
                  <p>スマホで手軽に連絡しよう!</p>
              </div>
              <div class="inquiry__nav">
                  <p>お問い合わせはこちら➡️</p>
                  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdu_OQl4cJPiemyEF9rMOyl8b5G06Jp02pK0Xc_ISqVa8s1yQ/viewform?usp=sf_link" width="100%" height="1301" frameborder="0" marginheight="0" marginwidth="0" class="btn">
                  <div class="btn">お問い合わせフォームへ</div></a>
              </div>
              <div class="app__nav">
                  <p>アプリダウンロード➡️</p>
                  <div class="app-img">
                  <%= link_to image_tag("app-img1.png", class:"app__img"), "/" %>
                  <%= link_to image_tag("app-img2.png", class:"app__img"), "/" %>
                  </div>
              </div>

              <div class="home-btn">
                  <p>会員登録はこちら</p>
                  <div class="nav__btn">
                    <%= link_to '新規会員登録', new_user_registration_path, class: "subtitle" %>
                  </div>
              </div>
          </div>    
      </div>
  </div>
  <section class="howto">
      <div class="howto__content">
        <div class="howto__title">
        <h3><span>ご利用方法</span>
        </h3>
        </div>
        <div class="howto__body">
          <div class="howto__img">
          <%= image_tag "middle-image.jpg" %>
          </div>
          <div class="howto__text">
              <p>
                  まずは「レンラク！」アプリに新規登録下さい。登録後
                  は、ログインしていただければ、連絡帳機能を使用する
                  ことができます。
                  連絡帳フォームを送信すれば先生がすぐ確認できます。
                  朝の忙しい時間をゆっくり過ごす助けになるアプリケーションです。
              </p>
          </div>
        </div>
      </div>
  </section>
  <section class="service">
      <div class="service__content">
        <div class="service__title">
        <h3><span>レンラク！のサービス紹介</span>
        </h3>
        </div>
        <div class="service__lower">
            <div class="service__icons">
                <div class="icon-set">
                    <div class="service__icon">
                    <%= image_tag "service-icon1.png" %>
                    </div>
                    <div class="icon-name">
                    <p>連絡帳機能</p>
                    </div>
                </div>
                <div class="icon-set">
                    <div class="service__icon">
                    <%= image_tag "service-icon2.png" %>
                    </div>
                    <div class="icon-name">
                    <p>出欠管理</p>
                    </div>
                </div>
                <div class="icon-set">
                    <div class="service__icon">
                    <%= image_tag "service-icon3.png" %>
                    </div>
                    <div class="icon-name">
                    <p>お知らせ配信</p>
                    </div>
                </div>
                <div class="icon-set">
                    <div class="service__icon">
                    <%= image_tag "service-icon4.png" %>
                    </div>
                    <div class="icon-name">
                    <p>個別メッセージ</p>
                    </div>
                </div>
                <div class="icon-set">
                    <div class="service__icon">
                    <%= image_tag "service-icon5.png" %>
                    </div>
                    <div class="icon-name">
                    <p>写真投稿機能</p>
                    </div>
                </div>
            </div>
            <div class="service__text">
                <p>
                  出欠確認は出欠フォームから入力していただいた後、ボタン一つで送信完了となります。個別にメッセージを送受信する機能も備えております。保育者はお知らせを一斉配信することができます。保護者の方はお知らせをスマホでいつでも確認することができます。
                </p>
            </div>
          </div>
        </div>
      </div>
  </section>
  <div class="social-content">
      <section class="social">
          <div class="social__title">
              <h3><span>このアプリの社会貢献</span></h3>
          </div>
          <div class="social__text">
              <p>
                業務をICT化して、保護者の方と保育者の方、両方の時間を確保することを目的としたアプリケーションです。
              </p>
          </div>
              <div class="social__bottom">
                  <div class="social__iconset">
                      <div class="social__voice">
                        <p><span>保育者の声</span><br>
                            お知らせを手書きで書いていて、時間を取られていた。アプリを使用すると、一斉に送信できるので、子供と過ごす時間が増えました。
                        </p>
                      </div>
                      <div class="social__image">
                            <%= image_tag "social-icon1.png" %>
                      </div>
                  </div>
                  <div class="social__iconset">
                      <div class="social__voice">
                        <p><span>保育者の声</span><br>
                            お知らせを手書きで書いていて、時間を取られていた。アプリを使用すると、一斉に送信できるので、子供と過ごす時間が増えました。
                        </p>
                      </div>
                      <div class="social__image">
                            <%= image_tag "social-icon2.png" %>
                      </div>
                  </div>
              </div>
      </section>
  </div>
      <section class="question">
  <div class="question-content">
          <div class="question__title">
              <h3><span>よくあるご質問</span></h3>
          </div>
          <div class="question__box">
              <div class="question__text">
                  <h4><span>メッセージでは写真も送信できますか</span></h4>
                  <p>
                      文章と一緒に写真も送信していただけます。もちろん文章のみの送信も可能です。
                  </p>
              </div>
          </div>
          <div class="question__box">
              <div class="question__text">
                  <h4><span>スマホでアプリを使用できますか？</span></h4>
                  <p>
                      スマホにアプリをインストールしていただき、新規登録していただくことで、使用できます。お知らせをいつでも確認することができたり、出欠の連絡もフォームの送信にて簡単に行うことができます。
                  </p>
              </div>
          </div>
          <div class="question__bottom">
          <a href="#" class="question__btn">よくある質問をもっと見る</a><br>
          </div>
          <br>
  </div>
      </section>
<div class="bottom">
        <%= image_tag "bottom-img2.jpeg" %>
    <p>
      コミュニケーションをもっと手軽に、是非”Rennraku＂をご利用下さい。
    </p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdu_OQl4cJPiemyEF9rMOyl8b5G06Jp02pK0Xc_ISqVa8s1yQ/viewform?usp=sf_link" width="100%" height="1301" frameborder="0" marginheight="0" marginwidth="0">
    <div class="bottom__btn">お問い合わせフォームへ</div>
    </a>
</div>
<div class="footer__content">
    <section class="footer">
        <div class="logo">
          <span class="footer__logo">Renraku!</span>
        </div>
        <div class="footer__nav">
            <div class="footer__box">
                <ul>
                    <li>
                        <a href="#">プライバシーポリシー</a>
                    </li>
                    <li>
                        <a href="#">利用規約</a>
                    </li>
                    <li>
                        <a href="#">お問い合わせ</a>
                    </li>
                </ul>
            </div>
            <div class="footer__box">
                <ul>
                    <li>
                        <a href="#">よくあるご質問</a>
                    </li>
                    <li>
                        <a href="#">資料請求</a>
                    </li>
                    <li>
                        <a href="#">会社概要</a>
                    </li>
                </ul>
            </div>
            <div class="footer__box">
                <ul>
                    <li>
                        <a href="#">ご利用方法</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
<div class="copyright">
    <p>
      Copyright RenrakuApp 2021.
    </p>
</div>

