<div class="header">
  <div class="title">
    <h1 class="wf-mplus1p">レンラク!</h1>
  </div>

  <div class="login">
    <div class="nav__btn">
      <%= link_to 'ゲストログイン', top_guest_sign_in_path, method: :post %>
    </div>
    <% if user_signed_in? %>
    <div class="nav__btn">
      こんにちは、
    <%= link_to current_user.name + "さん", "#", class: "subtitle" %>
    </div>
    <div class="nav__btn">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "subtitle" %>
    </div>
    
    <% else %>
    <div class="nav__btn">
    <%= link_to '新規会員登録', new_user_registration_path, class: "subtitle" %>
    </div>
    <div class="nav__btn">
    <%= link_to 'ログイン', new_user_session_path, class: "subtitle" %>
    </div>
    <% end %>
    <div class="nav__btn">
      <%= link_to 'menu', "#" %>
    </div>
    </div>
  </div>
</div>

<div class="contents">
  <div class="first-view">
    <img src="/assets/AdobeStock_159259498.jpg" alt="トップ画面" class="top-image">
    <div class="text">
      <h1>スマホで簡単に<br>　　　毎日の連絡を送信しよう！</h1><br>
      <p>　　　毎日の連絡は連絡フォームから送信するだけ。
        <br>　　　詳細の連絡についてはメッセージ機能をご利用ください。
      </p>
    </div>
  </div>
</div>

<div class="container">
  <h4>保護者の方はこちら</h4>
    <div class="d-flex justify-content-center">
      <div class="nav__btn">     
        <div class="card" style="width: 18rem;">
        <img src="http://3.bp.blogspot.com/-AC5vmYBscMw/UZRWELc3AzI/AAAAAAAASuk/MNSaQk3flwQ/s180-c/hanami_usagi.png" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">お知らせを見る</h5>
              <p class="card-text"></p>
              <a href="../prints", class="btn btn-primary">お知らせ一覧へ</a>
          </div>
        </div>
      </div>
      <div class="nav__btn">
        <div class="card" style="width: 18rem;">
        <img src="http://2.bp.blogspot.com/-5Fk5W1srxDo/UZRWCaNXFXI/AAAAAAAASuA/c0YSomHMfhQ/s180-c/hanami_inu.png" class="card-img-top" alt="...">
          <div class="card-body">
              <%= link_to "チャットを作成する", rooms_path %>
              <p class="card-text"></p>
              <a href="../rooms", class="btn btn-primary">メッセージルームへ</a>
          </div>
        </div>
      </div>
      <div class="nav__btn">
        <div class="card" style="width: 18rem;">
        <img src="http://2.bp.blogspot.com/-Y_FYUDciASI/UZRWDTu8vgI/AAAAAAAASuQ/aOwVwq-FtBE/s180-c/hanami_neko.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">連絡帳を書く</h5>
            <p class="card-text"></p>
            <a href="../attendances/new", class="btn btn-primary">連絡帳へ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
  <h4>先生はこちら</h4>
    <div class="d-flex justify-content-center">
      <div class="nav__btn">
        <div class="card" style="width: 18rem;">
        <img src="http://4.bp.blogspot.com/-JpovmLbHnKs/UZRWDZmapsI/AAAAAAAASuM/-YEd4TDlmX0/s180-c/hanami_kuma.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">お知らせを投稿する</h5>
            <p class="card-text"></p>
            <a href="../prints/new", class="btn btn-primary">お知らせ投稿へ</a>
          </div>
        </div>
      </div>
      <div class="nav__btn">
        <div class="card" style="width: 18rem;">
        <img src="http://4.bp.blogspot.com/-4_mKp1Q71M0/UZRWEUWc4fI/AAAAAAAASuo/9AV4UUQz8l0/s180-c/hanami_zou.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">メッセージを確認する</h5>
            <p class="card-text"></p>
            <a href="../rooms", class="btn btn-primary">メッセージルームへ</a>
          </div>
        </div>
      </div>
      <div class="nav__btn">
        <div class="card" style="width: 18rem;">
        <img src="https://3.bp.blogspot.com/-vhmBkneKWxM/VKTgi71CkvI/AAAAAAAAqUw/-bTdgeat85E/s180-c/pyoko04_sakura.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">出欠一覧を見る</h5>
            <p class="card-text"></p>
            <a href="../attendances", class="btn btn-primary">出欠一覧へ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class ="footer">
  <p>
    Copyright RenrakuApp 2020.
  </p>
  </div>

