<div class="box">
  <div class="box-inner">
    <div class="form__wrapper">
      <h2 class="page-heading">お知らせ投稿</h2>
        <%= form_with model: @print, local: true do |f|%>
          <div class="box-email">
            <%= f.label :title, "題名" %><br />
            <%= f.text_field :title, class: "text-box" %>
          </div>

          <div class="box-email">
            <%= f.label :text, "本文" %><br />
            <%= f.text_area :text, class: "text-area" %>
          </div>

          <div class="box-email">
            <%= f.label :image, "画像" %><br />
            <%= f.file_field :image %>
          </div><br>

          <div class="box-login">
            <%= f.submit "投稿する" %>
          </div>
        <% end %>
    </div>
  </div>
</div>