<% @attendances.each do |attendance| %>
  <p><%= attendance.user.name %>
  <%= attendance.presence.name %>
  <%= attendance.bath.name %>
  <%= attendance.breakfast.name %>
  <%= attendance.temperture.name %>
  <%= l attendance.created_at %></p>
<% end %>
